<footer class="text-center py-4 border-top mt-5">
  <p> 2025 My Portfolio</p>
  <p>
    <a href="https://github.com/Atifhaque123" class="me-3" targets="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/atif-haque-76947a32a" target="_blank">LinkedIn</a>
  </p>
  <p class="text-muted">Designed and built by me.</p>
</footer>