<h1>My Projects</h1>
<p>Few projects I have worked on so far:</p>

<div class="mt-4">
    
    <div class="col-md-12 mb-3">
        <div class="card h-100 shadow-sm">
            <div class="card=body">
                <h5 class="card-title">Student Grading System</h5>
                <p class="card-text">
                 I have worked on a group project where we made a program that asks the user to input their grades, 
                store the values, and then calculate the final average. My part was regarding the input and calculation
                </p>
            </div>
        </div>
    </div>

    
    <div class="col-md-12 mb-3">
        <div class="card h-100 shadow-sm">
            <div class="card=body">
                <h5 class="card-title">Networking Lab Project</h5>
                <p class="card-text">
                 For this lab project I built and configured a network topology using the appropriate devices such as PCS, routers,
                 and switches. Doing this project helped me to develop skills on how to work with topologies 
                </p>
            </div>
        </div>
    </div>



     <div class="col-md-12 mb-3">
        <div class="card h-100 shadow-sm">
            <div class="card=body">
                <h5 class="card-title">CCNA Certification</h5>
                <p class="card-text">
                 Completed the CCNA certification course for my introduction to networking course which helped me 
                 understand more of the fundamentals regarding ip addresses, subnetting, configuring devices/switches and etc
                </p>
            </div>
        </div>
    </div>


</div>